@import "base.less";

.kk_header {
    height: 49px;
    width: 100%;
    padding-left: 15px;
    align-items: center;
    flex-direction: row;
    display: flex;
    color: gray;
    font-size: 20px;
    background-color: @kColor_BG;
    font-family: 'ChalkboardSE-Light';

    .icon {
        width: 20px;
        height: 25px;
        background-color: red;
        margin-right: 3px;
    }
    .name {
        
    }
}





