@import "base.less";

.kk_mine {
  background-color: @kColor_BG;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  flex: 1;

  .wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;

    span {
      font-size: 14px;
      color: gray;
    }
  }


  .share {
    position: absolute;
    width: 100;
    background-color: red;
    padding: 30;

    top: 20;
    left: 30;
  }
}

